.banner {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url(../../assets/images/banner-1.jpg);
  background-size: cover;
  background-position: center;

  &__title {
    padding: 0 7px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 0;
  }
}
